@model IList<EventViewModel>
@{
    Layout = "_Layout";
}
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>
<body>
    <form method="get" asp-controller="Event" asp-action="TablePreviewMode">
        <button class="btn-group float-sm-right" style="margin-top:10px">Preview Mode</button>
    </form>
        <table id="tableEdit" class="tableBody" style="padding-top:50px">
            <tr>
                <th class="edit-th col-xs-1" >EventId</th>
                <th class="edit-th col-md-8"  >EventName</th>
                <th class="edit-th" style="font-size:x-small">OddsForFirstTeam</th>
                <th class="edit-th" style="font-size:x-small">OddsForDraw</th>
                <th class="edit-th" style="font-size:x-small">OddsForSecondTeam</th>
                <th class="edit-th" style="padding-left: 30px; padding-right: 30px;" >EventStartDate</th>
   
                <th class="edit-th" style="border:none"></th>
                <th class="edit-th" style="border:none"></th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="editableRows">
                    <td class="my-th" id="idField">
                        <input type="hidden" asp-for="@Model[i].Id">
                        @Model[i].Id
                    </td>
                    <td class="edit-th">
                        <input id="@("Name"+Model[i].Id)" asp-for="@Model[i].EventName" class="form-control" style="border:0px; text-align:center" />
                    </td>
                    <td class="edit-th">
                        <input id="@("First"+Model[i].Id)" asp-for="@Model[i].OddsForFirstTeam" class="form-control" style="border:0px; text-align:center" />
                    </td>
                    <td class="edit-th">
                        <input id="@("Draw"+Model[i].Id)" asp-for="@Model[i].OddsForDraw" class="form-control" style="border:0px;  text-align:center" />
                    </td>
                    <td class="edit-th">
                        <input id="@("Second"+Model[i].Id)" asp-for="@Model[i].OddsForSecondTeam" class="form-control" style="border:0px;  text-align:center" />
                    </td>
                    <td class="edit-th">
                        <input id="@("Date"+Model[i].Id)" asp-for="@Model[i].EventStartDate" class="form-control" type="datetime" style="border:0px" />
                    </td>
                    <td>
                        <input type="submit" value="Save" class="btn saveBtn" data-eventId="@Model[i].Id" data-eventName="@Model[i].EventName"
                               data-eventFirst="@Model[i].OddsForFirstTeam" data-eventDraw="@Model[i].OddsForDraw"
                               data-eventSecond="@Model[i].OddsForSecondTeam" data-eventDate="@Model[i].EventStartDate" />
                    </td>
                    <td>
                        <input type="submit" value="Delete" class="btn deleteBtn" data-eventId="@Model[i].Id" />
                    </td>
                </tr>
            }

        </table>
        <input type="hidden" value="0" id="total_row">
        <button class="btn-group float-md-left" style="margin-top:50px" id="addBtn" value="AddEvent" data-dateNow="@DateTime.Now.ToString("dd/MM/yyyy HH:mm", DateTimeFormatInfo.InvariantInfo)">AddEvent</button>
</body>